body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

.footer-copyright .container, nav {
    padding: 0 15px;
}

.main, .works {
    p {
        text-align: justify;
    }
}

#skills li::before {
  content: "+  ";
}
.blocks {
    margin: 25px 0;
    padding: 0 15px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #d50000;
}
.card {
    min-height: 600px;
}
.center img {
    padding-top: 10px;
}
#main {
    padding-bottom: 25px;
}
footer a:hover {
    text-decoration: underline;
}