// first: #5EFF6C (светло-зеленый, салатовый)
// second-color: #12FF27 (ярко-зеленый)
// third-color: #098013 (темно-зеленый)
// fourth-color: #2F8036 (блекло-зеленый)
// five-color: #0ECC1E (средне-зеленый)

@main-bg: #5EFF6C;
@second-bg: #12FF27;
@links-bg: #0ECC1E;
@links-color: #098013;
@links-hover-bg: #2F8036;


body, * {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1024px;
}

a, a.my-links {
    color: @links-color;
    text-decoration: underline;
    a:hover, a.my-links:hover {
        color: @links-hover-bg;
        text-decoration: none;
    }
    a:visited, a.my-links:visited {
        color: @links-hover-bg;
    }
}
h1 {
    border-bottom: 1px solid @second-bg;
}

.block {
    padding: 50px 0;
}

.btn {
    border-color: @links-color;
    color: @links-color;
    .btn:hover {
        border-color: @links-color;
        color: @links-hover-bg;
    }
}
.btn.btn-primary {
    border-color: @links-color;
    background-color: @main-bg;
    color: @links-color;
    .btn.btn-primary:hover {
        border-color: @links-color;
        background-color: @links-hover-bg;
    }
}
.btn.btn-primary:focus, .btn.btn-primary:hover {
    background: @links-hover-bg;
    border-color: @links-color;
    color: #fff;
}

header {
    
    background-color: @main-bg;
    padding: 10px 0;
    text-align: center;
    color: black;
    border-bottom: 1px solid @second-bg;
    
    h5 {        
        text-transform: uppercase;
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;

            a {
                margin: 0;
                padding: 5px;
                color: @links-color;
                font-weight: bold;
            }
            a:hover {
                background-color: @links-hover-bg;
                color: white;
                text-decoration: none;
            }
        }
    }
}

#about {
    min-height: 50vh;
    background-color: lighten(@main-bg, 10%);
}

.circle {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    font-size: 25pt;
    background-color: @main-bg;
    color: @links-hover-bg;
    text-align: center;
    line-height: 90px;
}

.img {
    width: 300px;
    height: 209px;
    //border: 1px solid #CD5C5C;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    
    .hover {
        display: none;
        position: absolute;
        width: 300px;
        height: 209px;
        top: 0;
        left: 0;
        background-color: @main-bg;
        text-align: center;
        line-height: 100px;
        z-index: 2;
    }
}

.modal-body img {
    width: 900px;
    height: auto;
}

footer {
    background-color: @main-bg;
    padding: 20px 0;
    ul {
        list-style-type: none;        
        margin: 0;
        padding: 0;
        li {
            display: inline;
            margin: 0;
            padding: 0;

            a {
                margin: 0;
                padding: 5px;
                color: @links-color;
                font-weight: bold;
            }
            a:hover {
                border: 1px solid @links-color;
                text-decoration: none;
            }
        }
    }
}

i.icons {
    color: @links-color;
}

#to-top {
    //display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 20px;
    height: 20px;
}

/*
.modals {
    display: none;
}
*/